<section id="formpic1"></section>

<section id="instr-prev">
  <div class = "row">
    <div class = "small-10 large-8" id = "instructions">
      Welcome, <%=current_friend.name %>!  <br>
      Please scroll to the bottom of this page to fill out a birthday wish for our mutual buddy, Josh.  He is one of the most sentimental people out there so lets send him some digital love on his 30th birthday!  <strong>This is a total surprise- so please keep this on the down low. </strong> I will message him the link on Monday. 

      <div>-Theresa </div> 

    </div>
  </div>

  <div class = "row">
    <div class = "small-10 large-8" id = "preview">
      <div class="wish-heading"><h3> Wish Preview </h3></div>
      <div class = "paragraph">
        <span class="blank sample">(Josh's nickname)</span>,
      </div> 
      <div class = "paragraph">
        This past year, my favorite memory of you was 
        <span class= "blank"> (favorite memory) </span>.  I totally thought, <br> 
        "<span class= "blank"> (opinion of that memory) </span>"
      </div>
      <div class = "paragraph">
        For the first year of your 30s, I wish you <span class= "blank"> (first wish) </span>, <span class= "blank"> (second wish) </span>, and <span class= "blank"> (third wish) </span>, but not <span class= "blank"> (something you didn't wish for the bday boy) </span>.
      </div>
      <div class = "paragraph"> <span class= "blank"> (personal saluatation) </span>, </div>
      <div class = "paragraph"> (your nickname),  your <span class = "blank"> (relationship to josh) </span> </div>
      <div class = "paragraph"> PS. <span class = "blank"> (personal message) <span></div>
      </div>
    </div>
  </div>
</section>

<section id="formpic2"></section>
<div class = "row">
  <div class="wish-heading"><h3>Fill-in-the-Wish Form</h3></div>
  <div class = "small-10 large-8" id="wish-form">
    <%= form_for [current_friend, @wish] do |wish| %>
	    <%= render partial: @user_type, :locals => {:wish => wish}  %>
	  <% end %>
  </div>
</div>

<section id="last" data-type="background" data-speed="10></section>

  
