<section id = "home" data-type="background" data-speed="10">
  <article> 
    <div class="row wt_tx">
      <div class="row">
        <div class="large-6 columns">
          <div class="statement wt_tx">
            <h3 class= "xword">
              <span><pre> b  </span>
              <span><pre> o t</span>
              <span><pre>josh</span>
              <span><pre>  k is</span>
              <span><pre>   r</span>
              <span><pre>   t</span>
              <span><pre>   y</span>
            </h3>
          </div>
        </div>
        <div class="large-6 columns"> 
         Text here 
        </div>
      </div>
    </div> 
  </article>
</section>

<section id = "wish" data-type="background" data-speed="10">
  <article> Simple Parallax Scroll</article>
</section>

