<section id = "home" data-type="background" data-speed="10">
  <article> 
    <div class="row wt_tx">
      <div class="row">
        <div class="large-6 columns">
          <div class="statement wt_tx">
            <h3 class= "xword">
              <span><pre> b  </span>
              <span><pre> o t</span>
              <span><pre>josh</span>
              <span><pre>  k is</span>
              <span><pre>   r</span>
              <span><pre>   t</span>
              <span><pre>   y</span>
            </h3>
          </div>
        </div>
        <div class="large-6 columns"> 
          We aren't going to let Josh celebrate his birthday without wishes from the Koala Krew and friends. 
        </div>
      </div>
    </div> 
  </article>
</section>

<section id = "wish" data-type="background" data-speed="10">
  <article> Simple Parallax Scroll</article>
</section>

<div class="row">
  <div >
    <!-- Feed Entry -->
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>


        <h6>2 Comments</h6>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
          <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
          <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
      </div>
    </div>
    <!-- End Feed Entry -->

    <hr />

    <!-- Feed Entry -->
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
      </div>
    </div>
    <!-- End Feed Entry -->

    <hr />

    <!-- Feed Entry -->
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
      <div class="large-10 columns">
        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>


        <h6>2 Comments</h6>
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
          <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
      </div>
    </div>
    <!-- End Feed Entry -->

  </div>

</div>


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-5 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>