<section id = "home" data-type="background" data-speed="10">
  <article> 
  </article>
</section>

<section id = "wish" data-type="background" data-speed="10">
  <article> Render for each statements here to show wishes </article>
</section>

