/*.statement {
	margin-bottom: 1.25em;
	padding: 1.25em;
	height: 420px;
	background: url("dollar.png") no-repeat center center;
	background-size: 100%;
}*/

.wt_tx{
  background-color: black;
	color: white;
	font-family: 'Vast Shadow', cursive;
}

#banner {
  width: 100%; 
  display:block;
  text-align:center;
}

#formpic1 {
  background: url("fourthjane.jpg") 100% 0 no-repeat fixed; 
  background-color: black;
  background-size: 786px 500px;
  min-height: 1000px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

#formpic2 {
  background: url("dollar.png") 100% 0 no-repeat fixed; 
  background-color: black;
  background-size: 400px 650px;
  min-height: 900px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#page_header nav ul li {
  padding: 0;
  margin: 0 20px 0 0;
  display: inline;
}

#home {
	background: url(radial.jpg) 50% 0 no-repeat fixed;
  background-color: black; 
  min-height: 1000px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

.blank{
  border-width: 1px;
  border-bottom-style: double;
  border-color: grey;
  color:grey;
}
#grad {
  background: url(grad.jpg) 50% 0 no-repeat fixed; 
  background-color: black;
  background-size: 786px 500px;
  min-height: 1000px;
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

.paragraph{
  margin-bottom: 2%;
}

#preview{
  padding-top: 40px;
  margin-left: 7%;
  margin-bottom: 7%;
}

#wish {
	background: url(newcrew.jpg) 100% 0 no-repeat; 
  background-color: black;
  background-size: 786px 540px;
  min-height: 540px;
  height: 540px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#wish-form{
  margin-left: 8%;
  border-style: solid;
  border-color: grey;
  padding-top: 5%;
  padding-left: 7%;
  margin-bottom: 8%;
}
.wish-heading{
  margin-top: 10%;
  text-align:center;
}

#wish article {
  #about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
}

.xword {
  color: coral;
}