<div id="wish-form">
  <% if current_friend %>
    <%= current_friend.name %>
    <%#= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>